@charset "utf-8";

html, body, h1, h2, h3, h4, h5, h6, p, div, th, td, table, pre, code, form, fieldset, legend, input, button, address, ol, ul, li, dl, dt, dd, img, textarea, blockquote {margin:0;padding:0;}
html, body {height:100%;}
input, button, select, textarea {box-sizing:border-box;}
h1, h2, h3, h4, h5, h6 {color:#333;font-weight:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display: block; }
form,fieldset,img{border:0 none;}
textarea{width:100%;padding:10px;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}
table {table-layout:fixed;width:100%;border-collapse:collapse;border-spacing:0;}
ol, ul {list-style-type:none;}
img, fieldset {vertical-align:middle; border:0;}
em, i, address {font-style:normal;}
a:link, a:visited, a:active {text-decoration:none;}
a:hover, a:focus {text-decoration:none;}
input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;-webkit-border-radius:0;vertical-align:middle}
button {overflow:visible;background:none;border:0;cursor:pointer;}
button, button:focus, button:active {padding:0;}
button > span {position:relative;}
table{border-spacing:0;border:0;border-collapse:collapse}
a{text-decoration:none;color:#333}
li,p,dt,dd,div,span,td,th{word-break:keep-all;word-wrap:break-word}

input::-ms-clear, input::-ms-reveal {display: none;}

